*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.list-container {
  width: 100%;
  height: 80%;
  display: flex;
  position: absolute;
  top: 130px;

}

.h1-film,.h1-serie{
  text-align: center;
  font-family: 'Germania One', cursive;
  color: #ff0000;
  font-size: 40px;
}

.hide {
  display: none;
}

.film-list-container, .series-list-container {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
}
.film-list-container h1, .series-list-container h1{
  text-align: center;
  font-family: 'Germania One', cursive;
  color: red;
}

.header {
  width: 100%;
  height: 10%;
  background: black;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-top: 27px;
  position: fixed;
  z-index: 1;
}

.wrapper {
  width: 100%;
  height: 5%;
  background: black;
  color: red;
  font-size: 12px;
  padding-left: 30px;
  border-bottom: 3px solid red;
  z-index: 0.5;
  position: absolute;
  position: fixed;
  z-index: 1;
  top: 10%;
}

.list-box {
  width: 185px;
  height: 300px;
  margin: 10px;
  margin-top: 30px;
  border: 2px solid black;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  box-shadow: 4px 4px 8px black;
}

.film-series-details {
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-top: 3px groove red;
  display: none;
}

.film-series-details li {
  margin-bottom: 10px;

}

.list-box:hover .film-series-details {
  display: block;
}

.input-button-container{
  width: 40%;
}


input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  outline: none;
}

li {
  font-size: 18px;
  list-style: none;
}

.fa-star {
  color: red;
}

.film-serie{
  width: 100%;
  position: absolute;
  top: 18%;
  text-align: center;
  color: red;
}

.correlated-title {
  font-family: 'Germania One', cursive;
}




#rating-li i{
  font-size: 12px;
}

#logo {
  font-family: 'Germania One', cursive;
  color: #ff0000;
  font-size: 30px;
  /* text-shadow: 2px 2px 5px red; */
}

#logo i {
  font-size: 20px;
}

#ul-list-film, #ul-list-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 4px 4px 10px
}

#title-style {
  font-family: 'Germania One', cursive;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  background: black;
  width: 100%;
  border-bottom: 2px groove red;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

#button {
  width: 100px;
  height: 22px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 10px;
  outline: none;
}

button:hover{
  background-color: red;
  color: white;
}

button:active {
  background-color: darkred;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
